<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="kjm-sk-ado" value="https://pkgs.dev.azure.com/kjm-sk-ado/Vasu/_packaging/kjm-sk-ado/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="kjm-sk-ado">
      <package pattern="xVasu.*" />
      <package pattern="Vasu.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
